body{
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; 
    background-color: white;
    padding: 0;
    margin: 0;
}
.contenedor-principal{
    display: flex;
}
.contenedor-base {
    width: 60vw;
    height: 100vh;
    position: relative;
    background-color: #000;
    background-size: cover;
    background-position: center;
}

.capa-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1.2s ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}
.contenedor-login{
    display: flex;
    width: 40vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.95);
    padding: 80px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
form{
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #ddd;
    border-radius: 6px; 
    padding: 12px;
    margin-bottom: 15px; 
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0,123,255, 0.1);
}

button {
    background-color: #000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 12px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

.alert-container {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #f5c6cb;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.alert-container ul {
    margin: 0;
    padding: 0;
}

.alert-container li {
    list-style-type: disc;
    list-style: none;
}
.registro-link {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}

.registro-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.registro-link a:hover {
    text-decoration: underline;
}