body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-header {
    background-color: rgba(107, 62, 238);
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 80px;
    width: auto;
    max-width: 300px;
}

.contenedor-principal {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.buscador-caja {
    display: flex;
    margin-right: 175px;
    justify-content: center;
    background-color: white;
    border: 1px solid #000;
    width: 100%;
    max-width: 800px; 
    height: 45px;
    border-radius: 4px;
    overflow: hidden;
}

.buscador-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    color: #666; 
}

.buscador-boton {
    background-color: #1a1c22; 
    color: white;
    border: none;
    padding: 0 30px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.3s;
}

.buscador-boton:hover {
    background-color: #333;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.3s;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #8267ee;
}

.icon {
    width: 24px;
    height: 24px;
    stroke-width: 2;
}

.icon-sm {
    width: 18px;
    height: 18px;
}
.second-header{
    background-color: rgba(107, 62, 238);
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.second-header ul li a{
    margin-right: 40px;
}

.second-header ul li a:hover{
    transform: scale(1.05);
    
}

.pru{
    color: black;
}