.todo{
    display: flex;
    margin-left: 100px;
}
.container-panel{
    display: flex;
    width: 200px;
    margin: 40px;
    height: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    font-family: sans-serif; 
}
.container-panel ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.container-panel ul li a {
    color: black;
    text-decoration: none;
    justify-content: start;
}

.container-panel ul li a:hover {
    color: #8267ee;
    background-color: white;
}

.container-principal {
    width: 1000px;
    margin: 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    font-family: sans-serif;
}

.titulo {
    font-size: 24px;
    color: #2d3436;
    margin-bottom: 25px;
    font-weight: 600;
}

.container-bienvenida{
    text-align: center;
    background-color: #a898e7;
    padding: 30px;
    margin-bottom: 30px;
}

.iconPerfil{
    margin-left: 50%;
    height: 30px;
    width: 30px;
}

.formPerfil{
    display: flex;
    justify-content: space-around;
}


.formPerfil input,.formPerfil label{
    padding: 20px;
    border-radius: 10px;
}


button{
    padding: 12px 20px;
    display: relative;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    width: fit-content;
}


table {
    width: 100%;
    border-collapse: collapse;
}

.alert-container{
    text-align: center;
    margin: 40px;
    margin-right: 40px;
    padding: 12px 15px;
    border-bottom: 2px solid #dfe6e9;
    color: red;
    font-size: 14px;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: 1px solid #f1f2f6;
    color: #2d3436;
    font-size: 16px;
    vertical-align: middle;
}

.imagen-producto {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #eee;
    display: block;
}

tbody tr:hover {
    background-color: #f8f9fa;
}
.new{
    padding: 10px;
}
.new:hover{
    background-color: #dfe6e9;
    
}