.productos-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}
.producto-card{
    box-sizing: border-box;
    margin: 20px;
    height: 300px;
    width: 350px;
    background-color: beige;
}

@media (max-width: 1200px) {

    

}   