.productos-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}
.producto-card{
    box-sizing: border-box;
    margin: 20px;
    height: 400px;
    width: 350px;
    background-color: white;
    overflow: hidden;
}

.imagen-producto {
    width: 100%;       
    height: 250px;
    object-fit: cover;
    object-position: center; 
    display: block;
}
.contenedor-producto-vista{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.nombre-producto{
    font-weight: normal;
}

.precio-producto{
    font-weight: bold;
    color: red;
}

.producto-card:hover{
    transition: 0.5s;
    transform: scale(1.04);
}
.ruta-producto{
    text-decoration: none;
    color: black;
}